{{!
  Copyright (c) HashiCorp, Inc.
  SPDX-License-Identifier: BUSL-1.1
~}}

<Hds::Card::Container
  @level="mid"
  @hasBorder={{true}}
  class="overview-card"
  data-test-overview-card-container={{@cardTitle}}
  ...attributes
>
  <div class="flex row-wrap space-between has-bottom-margin-m" data-test-overview-card={{@cardTitle}}>
<<<<<<< HEAD
    <Hds::Text::Display @weight="bold" @size="300" data-test-overview-card-title={{@cardTitle}}>
      {{@cardTitle}}
    </Hds::Text::Display>
=======
    <h3 class="has-text-weight-bold is-size-5">{{@cardTitle}}</h3>
>>>>>>> 4cb759cfc9 (fixed log)
    {{#if @actionText}}
      <Hds::Link::Standalone
        @icon={{or @actionIcon "chevron-right"}}
        @iconPosition="trailing"
        @text={{@actionText}}
        @route={{@actionTo}}
<<<<<<< HEAD
        @isRouteExternal={{@actionExternal}}
=======
>>>>>>> 4cb759cfc9 (fixed log)
        @query={{@actionQuery}}
        data-test-action-text={{@actionText}}
      />
    {{/if}}
  </div>
<<<<<<< HEAD
  <Hds::Text::Body
    @color="faint"
    class="{{unless @actionText 'has-top-margin-s'}}"
    data-test-overview-card-subtitle={{@cardTitle}}
  >
    {{@subText}}
  </Hds::Text::Body>
=======
  <p class="has-text-grey is-size-8 {{unless @actionText 'has-top-margin-s'}}">{{@subText}}</p>
>>>>>>> 4cb759cfc9 (fixed log)
  {{yield}}
</Hds::Card::Container>